{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <h3><p style="text-align: center;">{{msg}}</p></h3>
        {% endfor %}
    {% endif %}
{% endwith %}
<div style="margin: auto; width: 80%; padding: 10px; border-radius: 25px; border: 2px solid #B8B8B8;">
<h2 style="text-align: center;"> Czas spędzany przed komputerem w trakcie pandemii COVID-19 </h2>
<br>
<p><b> Cześć! </b></p>
<p> Jesteśmy studentami II stopnia Inżynierii Biomedycznej na Akademii Górniczo Hutniczej w Krakowie i zwracamy się z wielką prośbą o 
    wypełnienie tej krótkiej ankiety. </p>
<p> Ankieta dotyczy czasu spędzanego przed
komputerem w trakcie pandemii, a co za tym idzie ewentualnym pogorszeniem wzroku. 
Spędzanie przed ekranem komputera wielu godzin źle wpływa na wzrok. Przyczynia się do zwiększania napięcia akomodacyjnego w oku 
i zmniejszania częstotliwość mrugania. Nasze oczy nie są odpowiednio nawilżone, a w konsekwencji pojawia się suchość, 
pieczenie, a nawet bóle głowy. Nierzadko też obraz się rozmywa czy dwoi. Są to podstawowe symptomy tzw. syndromu widzenia komputerowego. 
Ważne jest, aby podczas długotrwałej pracy przed monitorem znaleźć czas na krótkie przerwy dla gimnastyki oczu.</p>
<div>
Lista studentów wykonujących projekt:
<ul>
    <li>Menedżer projektu
        <ul>
            <li>Czaja Emilia</li>
        </ul>
    </li>
    <li>Przygotowanie ankiety
        <ul>
            <li>Ambrożkiewicz Mateusz</li>
        </ul>
    </li>
    <li>Backend
        <ul>
            <li>Badacz Mateusz</li>
            <li>Ikoniak Paweł</li>
        </ul>
    </li>
    <li>Frontend
        <ul>
            <li>Mermon Gabriela</li>
        </ul>
    </li>
    <li>Obsługa serwera
        <ul>
            <li>Stawarz Adrian</li>
        </ul>
    </li>
</ul>
</div>
</div>

{% endblock %}
